In [1]:
2 < 10

True

In [2]:
(2).__lt__(10)

True

In [3]:
10 == 1

False

In [4]:
"abc" == "abc"

True

In [5]:
"abc".__eq__("abc")

True

In [6]:
a = 10
b = 20
if a < b:
    print("a < b")
else:
    print("a >= b")

a < b

In [7]:
if True:
    print("Este bloque siempre se ejecuta")

Este bloque siempre se ejecuta

In [1]:
my_list = [1, 2, 3]
print(my_list)
if my_list:
    print("my_list es truthy")

[1, 2, 3]
my_list es truthy

In [2]:
my_list = []
print(my_list)
if my_list:
    print("my_list es truthy")
else:
    print("my_list NO es truthy")

[]
my_list NO es truthy

In [3]:
my_list = [10, 20, 30, 40]
my_list

[10, 20, 30, 40]

In [4]:
my_list.pop()

40

In [ ]:
my_list

[10, 20, 30]

In [6]:
my_tuple = (1, 2, 3)
my_tuple

(1, 2, 3)

In [8]:
my_tuple = 1, 2, 3
my_tuple

(1, 2, 3)

In [9]:
type(my_tuple)

tuple

In [10]:
type(True)

bool

In [11]:
my_empty_tuple = ()
my_empty_tuple

()

In [12]:
if not my_empty_tuple:
    print("Esto es vacío")

Esto es vacío

In [13]:
saludo = "Hola Mundo!"
saludo

'Hola Mundo!'

In [14]:
saludo = 'Hola Mundo!'
saludo

'Hola Mundo!'

In [15]:
"aba".replace("a", "A")

'AbA'

In [18]:
my_str = "aba"
print(hex(id(my_str)))

0x2d2c7a71bf0

In [19]:
my_str = "aba"
print(hex(id(my_str)))
my_str = my_str.replace("a", "b")
print(hex(id(my_str)))

0x2d2c7a71bf0
0x2d2c7a730c0

In [22]:
my_str = "Line1\nLine2\nLine3"
print(my_str)

Line1
Line2
Line3

In [24]:
multiline = """ 
Line1
Line2
Line3
"""
print(multiline)

Line1
Line2
Line3

In [26]:
a = 10
"esto es importante"
if True:
    print("Todo OK")

Todo OK

In [27]:
my_str = r"Line1\nLine2\nLine3"
print(my_str)

Line1\nLine2\nLine3

In [ ]:
a = 10
b = 2
print(f"resultado: {a}")

resultado: 10

In [29]:
print(f"resultado: {a + b}")

resultado: 12

In [30]:
print(f"resultado: {a * b}")

resultado: 20

In [31]:
print(f"resultado: {a / b}")

resultado: 5.0

In [32]:
my_float = 0.12345
my_fstring = f"Mi variable es {my_float}"
print(my_fstring)

Mi variable es 0.12345

In [33]:
my_float = 0.12345
my_fstring = f"Mi variable es {my_float:.2f}"
print(my_fstring)

Mi variable es 0.12

In [34]:
my_float = 0.12845
my_fstring = f"Mi variable es {my_float:.2f}"
print(my_fstring)

Mi variable es 0.13

In [35]:
my_list = [10, 20, 30]
my_list

[10, 20, 30]

In [36]:
len(my_list)

3

In [37]:
my_list.__len__()

3

In [38]:
len("Hola Mundo!")

11

In [39]:
len("Hola Mundo\n")

11

In [45]:
my_seq = 3.14, "pi", (1, "Madrid")
my_seq

(3.14, 'pi', (1, 'Madrid'))

In [46]:
my_seq[1]

'pi'

In [47]:
my_seq[2]

(1, 'Madrid')

In [48]:
my_seq[len(my_seq) -1]

(1, 'Madrid')

In [49]:
my_seq[-1]

(1, 'Madrid')

In [50]:
print(my_seq)
my_seq[-3]

(3.14, 'pi', (1, 'Madrid'))

3.14

In [51]:
palabra = "workbook"
palabra[0]

'w'

In [52]:
palabra.__getitem__(0)

'w'

In [53]:
matrix = [
    [1, 2, 3],
    [4, 5, 6]
]
matrix

[[1, 2, 3], [4, 5, 6]]

In [54]:
matrix = [
    [1, 2, 3],
    [4, 5, 6]
]
matrix[1]

[4, 5, 6]

In [55]:
matrix = [
    [1, 2, 3],
    [4, 5, 6]
]
matrix[1][2]

6