In [1]:
my_list = [10, 20, 30, 40]
my_list

[10, 20, 30, 40]

In [2]:
my_list[1]

20

In [3]:
my_list.__getitem__(1)

20

In [4]:
my_list[0:3]

[10, 20, 30]

In [5]:
my_list[1:]

[20, 30, 40]

In [6]:
my_list[0:3:2]

[10, 30]

In [7]:
len(my_list)

4

In [13]:
my_list = [10, 20, 30, 40]
my_list [:len(my_list)+1000:2]

[10, 30]

In [16]:
start = 0
stop = None #[0:]
my_tuple = 1, 2, 3, 4 
st = slice(start, stop)
my_tuple[st]

(1, 2, 3, 4)

In [20]:
my_str = "Hola mundo"
my_str [::-1]

'odnum aloH'

In [22]:
my_list = [10, 20, 30] #Tipo mutable
my_list.append(100)
my_list #Hemos a√±adido un elemento al final de la lista<

[10, 20, 30, 100]

In [ ]:
my_tuple = (10, 20, 30)
my_tuple.append
my_tuple
# La tupla es inmutable

AttributeError: 'tuple' object has no attribute 'append'

In [24]:
my_tuple = (10, 20, 30)
my_tuple[0] = 100

TypeError: 'tuple' object does not support item assignment

In [26]:
my_list = [10, 20, 30]
my_list[0] = 100
my_list

[100, 20, 30]

In [29]:
my_list = [10, 20, 30]
my_list, id(my_list)

([10, 20, 30], 2140414194304)

In [32]:
var1 = 1, 2, 3 
var2 = var1

id(var1), id(var2)

(2140428060544, 2140428060544)

In [34]:
var1 = [1, 2, 3] 
var2 = var1

var1.append(100)

In [35]:
var2

[1, 2, 3, 100]

In [39]:
var1 = 2
print("Var1 antes de suma " , id(var1))
var1 = var1 + var1
print("Var1 despues de la suma ", id(var1))

Var1 antes de suma  140716063603160
Var1 despues de la suma  140716063603224

In [40]:
my_tuple = ([1, 2], [3, 4])
my_tuple[0] = 100

TypeError: 'tuple' object does not support item assignment

In [43]:
my_tuple = ([1, 2], [3, 4])
my_tuple[0][0] = 100  #aunq tupla sea inmutable almazena un elemento mutable 
my_tuple    # por tanto se puede cambiar

([100, 2], [3, 4])

In [46]:
a = [1, 2 ]
b = a[:]
id(a), id(b) #se almacenan en sitios diferentes de la memoria (copia de verdad)

(2140428924608, 2140428875392)

In [48]:
a.append("Hola")
a, b

([1, 2, 'Hola', 'Hola'], [1, 2])

In [55]:
a = [1, 2 ]
b = a[:]
a is b

False

In [53]:
a == b

True

In [54]:
a = [1, 2, 3]
b= a.copy()
a is b

False

In [57]:
a == b

True

In [66]:
a = [[1, 2], [3, 4 ]]
b = a.copy()
a is b

False

In [ ]:
a[0] is b[0] #copia superficial

True

In [60]:
a[1][0] = 300
a

[[1, 2], [300, 4]]

In [ ]:
b #afectan cambios en la copia

[[1, 2], [300, 4]]

In [70]:
from copy import deepcopy

a = [[1, 2], [3, 4 ]]
b = deepcopy(a)
a is b

False

In [65]:
a[0] is b[0]

False

In [71]:
a[1][0] = 300
a, b

([[1, 2], [300, 4]], [[1, 2], [3, 4]])